<table>
    <tr>
        <td><label>ID</label></td>
        <td><input readonly autofocus class="form-control" type="number" name="firstnum" id="firstnum" requried value="<%= model.cusid %>" /></td>
        <label>(Required)</label>
    </tr>
    <tr>
        <td><label for="cusfname">Enter Ending Number</label></td>
        <td><input autofocus class="form-control" type="number" name="secondnum" id="secondnum" required value="<%= model.cusfname %>" /></td>    
        <label>(Required)</label>
    </tr>
    <tr>
        <td><label for="cusstate">State</label></td>
        <td><input autofocus class="form-control" type="number" name="cusstate" id="cusstate" required value="<%= model.cusstate %>" /></td>    
        <label>(Required)</label>
    </tr>
</table>