<table>
    <tr>
        <td><label>Enter </label></td>
        <td><input autofocus class="form-control" type="number" name="num1" id="firstnum" required value="num1" /></td>
        <td><label>(Required)</label></td>
    </tr>
    <tr>
        <td><label for="cusfname">Enter Ending Number</label></td>
        <td><input autofocus class="form-control" type="number" name="num2" id="secondnum" required value="num2" /></td>    
        <td><label>(Required)</label></td>
    </tr>
    <tr>
        <td><label for="cusstate">Enter Increment</label></td>
        <td><input autofocus class="form-control" type="number" name="incr" id="incr" required value="incr" /></td>    
        <td><label>(Required)</label></td>
    </tr>
</table>

<input style ="align-content: center;"  type="submit" value="Calculate Sum" class="btn btn-default btn-info" />


<% if (type === "post") { %>

<p>The sum of the numbers from <%= num1 %> to <%= num2 %> incremented by <%= incr %> is <%= sum %></p>

<% } %>