<%- include( "_header") -%>

<h2>Calculate Sum of a Series</h2>


<form action = "/sum" method = "post">
    <div class = "form-horizontal">
        
        <%- include( "_calcSum") -%>


    </div>

</form>

<%- include( "_footer") -%>